// -- Colors

$primary_black: #212121;
$secondary_black: #707070;
$gh_green: #95d600;
$whitesmoke: #fafafa;

// -- Fonts

$roboto_condensed: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto_slab: 'Roboto Slab', serif;
