// -- Colors
// $primary_black: #212121;
$primary_black: #151515;
$secondary_black: #707070;
$gh_green: #95d600;
$whitesmoke: #fafafa;
$blue: #5cb2c6;
$navyblue: #092c42;

// -- Fonts
$roboto_condensed: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto_slab: 'Roboto Slab', serif;

// - Media Breakpoints
$small: "only screen and (max-width: 600px)";
$medium: "only screen and (max-width: 992px)";
$large: "only screen and (min-width: 993px)";
$extra-large: "only screen and (min-width: 1200px)";
