@import '../../Styles/variables';

nav {
	background-color: transparent !important;
	box-shadow: none;
	position: fixed;
	z-index: 10;
}

.active {
	color: $primary_black;
}

ul.nav_menu > li > a {
	color: $secondary_black;
	font-family: $roboto_condensed;
	font-size: 17px;
}

.dropdown_btn {
	padding: 0 15px;
	color: #707070;
	position: relative;
	cursor: pointer;

	// &:hover ul.nav_dropdown {
	// 	display: inline-block;
	// 	opacity: 1;
	// 	transition: opacity 0.4s ease-in-out;
	// 	top: 64px;
	// }
}

ul.nav_dropdown {
	background-color: white;
	// transition: opacity 0.4s ease-in-out;
	// display: none;
	// opacity: 0;
	position: absolute;
	right: 0;
	width: 200px;
	// top: 60px;
	padding: 1em 0;
	border-radius: 5px;
	box-shadow: 0px 3px 8px 3px rgba(142, 142, 142, 0.12);

	& > li {
		width: 100%;
		line-height: 3em;
		&:hover {
			background-color: $whitesmoke !important;
		}

		& > a {
			color: $primary_black;
			&:hover {
				background-color: transparent;
			}
		}
	}
}

// -- Mobile mode navbar styles
.mobile_navbar_container {
	background-color: $primary_black;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: flex;
	flex-flow: column;

	.menu_links {
		flex-grow: 1;
		& > ul {
			width: 100%;
			& > li {
				font-size: 1.2em;
				color: #fff;
				margin: 1em 0;
				& > a {
					color: #fff;
				}
			}
		}
	}
}

.mobile_navbar {
	border: 1px solid white;
	height: 50px;
}

.mobile_menu_close_btn {
	position: absolute;
	top: 15px;
	right: 15px;
	color: $secondary_black;
	padding: 0;
}
