@import '../../Styles/variables';

.footer_container {
	padding: 3em 0;
	background-color: $primary_black;
	font-family: $roboto_slab;
}

.follow_links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.follow_sec {
		padding: 1em 1em 0;
		max-width: 300px;
	}
}

// -- Media Queries
@media #{$small} {
	.follow_links {
		justify-content: flex-start;
	}
}
