@import './Styles/defaults';

button {
	border: none;
	background-color: transparent;
	&:focus {
		background-color: transparent !important;
	}
}

.social_links {
	height: 25px;
	margin: 0 1em;
	& > a {
		height: inherit;
		display: block;
	}
}
